**/*.localz
**/*.local
**/*.git
**/*.DS_Store
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
# Ignore Gradle project-specific cache directory
.gradle
.vscode
client/bin
server/bin
network/bin
# Ignore Gradle build output directory
build
